<% if (title){ %>
    <h1><%= title %></h1>
<% } %>


<%- messages() %>


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  

<div id = "form">
    <h2>All Fields are required</h2>
    <form action = "" method = "post">
        <%- list %>
        <label for = "inv_make">Make: </label>
        <input type = "text" class = "inv_make" id = "inv_make" name = "inv_make"  value="<%= locals.inv_make %>"required>
        <label for = "inv_model">Model: </label>
        <input type = "text" class = "inv_model" id = "inv_model" name = "inv_model"  value="<%= locals.inv_model %>"required>
        <label for = "inv_year">Year: </label>
        <input type = "number" class = "inv_year" id = "inv_year" name = "inv_year" min="1980" max="2025"  value="<%= locals.inv_year %>"required>
        <label for = "inv_description">Description: </label>
        <input type = "text" class = "inv_description" id = "inv_description" name = "inv_description"  value="<%= locals.inv_description %>">
        <label for ='inv_image'> Image:</label>
        <input type="text" class = 'inv_image' id = 'inv_image' <%if (locals.inv_image) { %> value = '<%= locals.inv_image %>' <% } else { value = '/images/vehicles/no-image.png'} %>  >
        <label for ='inv_thumbnail'>Thumbnail: </label>
        <input type="text" class = 'inv_thumbnail' id = 'inv_thumbnail' <%if (locals.inv_thumbnail) { %> value = '<%= locals.inv_thumbnail %>' <% } else { value = '/images/vehicles/no-image-tn.png'} %>  >
        <label for = "inv_price">Price: </label>
        <input type = "number" class = "inv_price" id = "inv_price" name = "inv_price" min="1" max="100000"  value="<%= locals.inv_price %>"required>
        <label for = "inv_miles">Miles: </label>
        <input type = "number" class = "inv_miles" id = "inv_miles" name = "inv_miles" min="1" max="999999"  value="<%= locals.inv_miles %>"required>
        <label for = "inv_color">Color: </label>
        <input type = "text" class = "inv_color" id = "inv_color" name = "inv_color"  value="<%= locals.inv_color %>"required>

        <input type = "submit" value = "Add" >
    </form>
</div>