<% if (title){ %>
    <h1><%= title %></h1>
<% } %>


<% messages() %>


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<!-- New Inventory Form -->
<div id = "form">
    <h2>All Fields are required</h2>
    <form action = "" method = "post">
    <label for = "classification">Classification: </label>
    <select name="classification" id="classification" required>
        <% classifications.forEach(function(classification) { %>
            <option value="<%= classification.classification_name %>"><%= classification.classification_name %></option>
        <% }); %>
    </select>
    <label for = "inv_make">Make: </label>
    <input type = "text" class = "inv_make" id = "inv_make" name = "inv_make"  value="<%= locals.inv_make %>"required>
    <label for = "inv_model">Model: </label>
    <input type = "text" class = "inv_model" id = "inv_model" name = "inv_model"  value="<%= locals.inv_model %>"required>
    <label for = "inv_year">Year: </label>
    <input type = "number" class = "inv_year" id = "inv_year" name = "inv_year" min="1980" max="2025"  value="<%= locals.inv_year %>"required>
    <label for = "inv_description">Description: </label>
    <input type = "text" class = "inv_description" id = "inv_description" name = "inv_description"  value="<%= locals.inv_description %>">
    <label for = "inv_price">Price: </label>
    <input type = "number" class = "inv_price" id = "inv_price" name = "inv_price" max="100000"  value="<%= locals.inv_price %>"required>
    <label for = "inv_miles">Miles: </label>
    <input type = "number" class = "inv_miles" id = "inv_miles" name = "inv_miles" max="999999"  value="<%= locals.inv_miles %>"required>
    <label for = "inv_color">Color: </label>
    <input type = "text" class = "inv_color" id = "inv_color" name = "inv_color"  value="<%= locals.inv_color %>"required>
    
    <input type = "submit" value = "Add" >
    </form>
</div>
